.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20%;
}

.post {
    background-color: #1e1e1e;
    border: 1px solid #333333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.post:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.post h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.post p {
    font-size: 1em;
    margin-bottom: 15px;
    line-height: 1.5;
}

.post img, .post video {
    width: 100%;
    max-width: 600px;
    height: 300px;
    object-fit: cover;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
}

/* Медиазапросы для мобильных устройств */
@media (max-width: 768px) {
    .posts {
        margin: 0 5%;
    }

    .post {
        padding: 15px;
    }

    .post h2 {
        font-size: 1.2em;
    }

    .post p {
        font-size: 0.9em;
    }

    .post img, .post video {
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 480px) {
    .posts {
        margin: 0 2%;
    }

    .post {
        padding: 10px;
    }

    .post h2 {
        font-size: 1em;
    }

    .post p {
        font-size: 0.8em;
    }

    .post img, .post video {
        max-width: 100%;
        height: auto;
    }
}
